# Merging file:

1. Merged different elements
2. Some test for the analysis.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
import numpy as np

In [2]:
print(os.getcwd())
# Directory should be at github repo level.
# .. to move up 2 directory level.

os.chdir("..")
print(os.getcwd())

/Users/elenalarrauri/LSE/COURSES/AT/Managing_data/2024-project-pollution-team/CODE_INDIA
/Users/elenalarrauri/LSE/COURSES/AT/Managing_data/2024-project-pollution-team

In [3]:
cities = {
    'arunachal pradesh': ['naharlagun'],
    'jammu and kashmir': ['srinagar'],
    'andhra pradesh': ['chittoor', 'kadapa', 'anantapur', 'visakhapatnam', 'amaravati', 'vijayawada', 'rajamahendravaram', 'tirupati'],
    'telangana': ['hyderabad'],
    'manipur': ['imphal'],
    'madhya pradesh': ['mandideep', 'satna', 'bhopal', 'ratlam', 'gwalior', 'katni', 'maihar', 'damoh', 'dewas', 'jabalpur', 'ujjain', 'sagar', 'singrauli', 'pithampur', 'indore'],
    'haryana': ['ambala', 'sirsa', 'palwal', 'kurukshetra', 'ballabgarh', 
                'manesar', 'narnaul', 'gurugram', 'karnal', 'bahadurgarh', 
                'rohtak', 'kaithal', 'sonipat', 'mandikhera', 'faridabad', 
                'hisar', 'yamunanagar', 'charkhi_dadri', 'jind', 'panipat', 
                'bhiwani', 'panchkula', 'fatehabad', 'dharuhera'],
    'gujarat': ['ankleshwar', 'gandhinagar', 'surat', 'vapi', 'vatva', 'ahmedabad', 'nandesari'],
    'sikkim': ['gangtok'],
    'himachal pradesh': ['baddi'],
    'delhi': ['delhi'],
    'punjab': ['ludhiana', 'bathinda', 'mandi_gobindgarh', 'khanna', 'rupnagar', 'jalandhar', 'amritsar', 'patiala'],
    'karnataka': ['mysuru', 'yadgir', 'kolar', 'koppal', 'bidar', 
                  'vijayapura', 'gadag', 'mangalore', 'kalaburagi', 'hubballi', 
                  'udupi', 'belgaum', 'madikeri', 'haveri', 'tumakuru', 
                  'bengaluru', 'dharwad', 'hassan', 'shivamogga', 
                  'chikkamagaluru', 'chamarajanagar', 'chikkaballapur', 
                  'bagalkot', 'davanagere', 'ramanagara', 'raichur', 'karwar'],
    'maharashtra': ['latur', 'kalyan', 'sangli', 'dhule', 'bhiwandi', 'virar', 
                    'kolhapur', 'nagpur', 'chandrapur', 'pune', 'jalgaon', 
                    'solapur', 'ulhasnagar', 'amravati', 'parbhani', 
                    'badlapur', 'akola', 'boisar', 'mumbai', 'jalna', 'nashik', 
                    'belapur', 'malegaon', 'thane', 'navi_mumbai', 'mahad', 'nanded'],
    'odisha': ['baripada', 'bileipada', 'angul', 'tensa', 'cuttack', 'balasore', 'keonjhar', 'rairangpur', 'talcher', 'byasanagar', 'suakati', 'rourkela', 'nayagarh', 'barbil', 'brajrajnagar'],
    'rajasthan': ['sirohi', 'baran', 'banswara', 'hanumangarh', 'bharatpur', 
                  'bikaner', 'jalore', 'bhiwadi', 'sikar', 'karauli', 
                  'bhilwara', 'alwar', 'bundi', 'dausa', 'chittorgarh', 
                  'barmer', 'jaipur', 'jaisalmer', 'pratapgarh', 
                  'sawai_madhopur', 'jhalawar', 'jhunjhunu', 'nagaur', 'ajmer', 
                  'rajsamand', 'jodhpur', 'sri_ganganagar', 'pali', 'kota', 
                  'dholpur', 'dungarpur', 'tonk', 'churu', 'udaipur'],
    'chandigarh': ['chandigarh'],
    'kerala': ['thiruvananthapuram', 'thrissur', 'kozhikode', 'kollam', 'kannur', 'eloor', 'ernakulam', 'kochi'],
    'chhattisgarh': ['bhilai', 'chhal', 'milupara', 'bilaspur', 'raipur', 'tumidih', 'kunjemura', 'korba'],
    'tripura': [],
    'mizoram': ['aizawl'],
    'assam': ['silchar', 'nalbari', 'guwahati', 'nagaon', 'sivasagar', 'byrnihat'],
    'meghalaya': ['shillong'],
    'tamil nadu': ['tiruchirappalli', 'nagapattinam', 'coimbatore', 'vellore', 'ranipet', 'dindigul', 'tirupur', 'ooty', 'kanchipuram', 'tirunelveli', 'chennai', 'gummidipoondi', 'perundurai', 'thanjavur', 'cuddalore', 'karur', 'thoothukudi', 'pudukottai', 'ariyalur', 'salem', 'madurai', 'ramanathapuram', 'virudhunagar', 'hosur', 'palkalaiperur', 'chengalpattu'],
    'west bengal': ['kolkata', 'haldia', 'durgapur', 'siliguri', 'asansol', 'howrah', 'barrackpore'],
    'uttarakhand': ['kashipur', 'rishikesh', 'dehradun'],
    'uttar pradesh': ['agra', 'prayagraj', 'meerut', 'jhansi', 'greater_noida', 'kanpur', 'bulandshahr', 'lucknow', 'firozabad', 'moradabad', 'hapur', 'vrindavan', 'ghaziabad', 'bareilly', 'noida', 'varanasi', 'muzaffarnagar', 'gorakhpur', 'khurja', 'baghpat'],
    'puducherry': ['puducherry'],
    'bihar': ['rajgir', 'araria', 'bettiah', 'begusarai', 'katihar', 'saharsa', 'samastipur', 'motihari', 'muzaffarpur', 'bhagalpur', 'buxar', 'darbhanga', 'sasaram', 'bihar_sharif', 'purnia', 'manguraha', 'patna', 'arrah', 'hajipur', 'siwan', 'chhapra', 'kishanganj', 'munger', 'gaya'],
    'jharkhand': ['dhanbad', 'jorapokhar', 'pathardih'],
    'nagaland': ['kohima']
}

In [4]:
#Source: https://statisticstimes.com/demographics/india/indian-states-population.php, 2024 data

url = "https://statisticstimes.com/demographics/india/indian-states-population.php"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

state_population = {}

table_body = soup.find('tbody')
# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        state_td = row.find('td', {'class': 'name'})  # State name
        data_tds = row.find_all('td', {'class': 'data'})  
        if state_td and len(data_tds) >= 2:  # ensure the second `data` exists which is the data for 2024
            state_name = state_td.text.strip().lower()  
            if state_name == 'jammu & kashmir':  # for API data formatting
                state_name = 'jammu and kashmir'
            population = data_tds[1].text.strip().replace(',', '')
            try:
                state_population[state_name] = int(population)  # convert population to integer
            except ValueError:
                state_population[state_name] = population

In [5]:
#Source: https://worldpopulationreview.com/cities/india, 2024 data

url = "https://worldpopulationreview.com/cities/india"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

city_population = {}
table_body = soup.find('tbody', {'class': 'relative z-10 text-sm'})

# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        th = row.find('th')  
        td = row.find('td')  
        if th and td:
            city_name = th.text.strip().lower()
            population = td.text.strip().replace(',', '')
            city_population[city_name] = int(population)

In [6]:
# Source: https://fsi.nic.in/isfr-2021/chapter-2.pdf page 17, 
# Geo-graphical Area Column, 2021 data

state_area = {
    'andhra pradesh': 162968,
    'arunachal pradesh': 83743,
    'assam': 78438,
    'bihar': 94163,
    'chhattisgarh': 135192,
    'delhi': 1483,
    'goa': 3702,
    'gujarat': 196244,
    'haryana': 44212,
    'himachal pradesh': 55673,
    'jharkhand': 79716,
    'karnataka': 191791,
    'kerala': 38852,
    'madhya pradesh': 308252,
    'maharashtra': 307713,
    'manipur': 22327,
    'meghalaya': 22429,
    'mizoram': 21081,
    'nagaland': 16579,
    'odisha': 155707,
    'punjab': 50362,
    'rajasthan': 342239,
    'sikkim': 7096,
    'tamil nadu': 130060,
    'telangana': 112077,
    'tripura': 10486,
    'uttar pradesh': 240928,
    'uttarakhand': 53483,
    'west bengal': 88752,
    'andaman and nicobar islands': 8249,
    'chandigarh': 114,
    'jammu and kashmir': 222236,
    'lakshwadeep': 30,
    'puducherry': 490
}

In [7]:
#Source: https://fsi.nic.in/isfr-2021/chapter-2.pdf page 17-18, 
# Total Forest Cover column, 2021 data

state_forest_area = {
    'andhra pradesh': 29784,
    'arunachal pradesh': 66431,
    'assam': 28312,
    'bihar': 7381,
    'chhattisgarh': 55717,
    'delhi': 195,
    'goa': 2244,
    'gujarat': 14926,
    'haryana': 1603,
    'himachal pradesh': 15443,
    'jharkhand': 23721,
    'karnataka': 38730,
    'kerala': 21253,
    'madhya pradesh': 77493,
    'maharashtra': 50798,
    'manipur': 16598,
    'meghalaya': 17046,
    'mizoram': 17820,
    'nagaland': 12251,
    'odisha': 52156,
    'punjab': 1847,
    'rajasthan': 16655,
    'sikkim': 3341,
    'tamil nadu': 26419,
    'telangana': 21214,
    'tripura': 7722,
    'uttar pradesh': 14818,
    'uttarakhand': 24305,
    'west bengal': 16832,
    'andaman and nicobar islands': 6744,
    'chandigarh': 22.88,
    'jammu and kashmir': 23659,
    'lakshwadeep': 27.10,
    'puducherry': 53.30
}

In [8]:
# Source: https://www.data.gov.in/resource/cities-wise-total-registered-motor-vehicles-transport-million-plus-cities-india-31st-march
# Excel file downloaded from website 2020 data

cars_df = pd.read_csv("DATA_INDIA/cars.csv")
i = cars_df.iloc[:, 0].str.lower()  
j = cars_df.iloc[:, -1].astype(int)  
city_cars = dict(zip(i, j))

In [9]:
#Source: https://morth.nic.in/sites/default/files/RTYB_Publication_2019_20%20(1).pdf page 91, 
# Column used Total registered motorvehicles (As on 31.3.2020), 2019-20 data

state_vehicles = {
    'andhra pradesh': 13108491,
    'arunachal pradesh': 230126,
    'assam': 4358529,
    'bihar': 9903889,
    'chhattisgarh': 6986219,
    'goa': 1457752,
    'gujarat': 26836981,
    'haryana': 8599668,
    'himachal pradesh': 1711920,
    'jammu and kashmir': 1967508,
    'jharkhand': 5064983,
    'karnataka': 26117614,
    'kerala': 14184184,
    'madhya pradesh': 17923162,
    'maharashtra': 37786256,
    'manipur': 361970,
    'meghalaya': 365804,
    'mizoram': 267350,
    'nagaland': 520293,
    'odisha': 9115718,
    'punjab': 11336366,
    'rajasthan': 19236010,
    'sikkim': 54106,
    'tamil nadu': 32094588,
    'telangana': 12906426,
    'tripura': 551097,
    'uttarakhand': 2898982,
    'uttar pradesh': 34924824,
    'west bengal': 10915952,
    'andaman and nicobar islands': 150060,
    'chandigarh': 1058857,
    'delhi': 11892877,
    'lakshadweep': 22665,
    'puducherry': 1118782
}

In [10]:
#Source: https://desagri.gov.in/wp-content/uploads/2024/09/Final-file-of-LUS-2022-23-for-uploading.pdf page 19, 
# net area sown taken as the area of land used for cultivation, 2022-23 data

state_farming_area = {
    'andhra pradesh': 35.13,
    'arunachal pradesh': 3.54,
    'assam': 35.05,
    'bihar': 54.63,
    'chhattisgarh': 32.50,
    'goa': 34.85,
    'gujarat': 51.83,
    'haryana': 82.33,
    'himachal pradesh': 11.62,
    'jammu and kashmir': 19.01,
    'jharkhand': 12.86,
    'karnataka': 58.59,
    'kerala': 51.20,
    'madhya pradesh': 51.53,
    'maharashtra': 53.62,
    'manipur': 18.37,
    'meghalaya': 12.45,
    'mizoram': 7.10,
    'nagaland': 21.77,
    'odisha': 28.58,
    'punjab': 81.70,
    'rajasthan': 53.74,
    'sikkim': 16.91,
    'tamil nadu': 37.12,
    'telangana': 52.61,
    'tripura': 24.26,
    'uttarakhand': 9.47,
    'uttar pradesh': 68.56,
    'west bengal': 60.06,
    'andaman and nicobar islands': 2.06,
    'chandigarh': 12.74,
    'delhi': 13.31,
    'lakshadweep': 41.05,
    'puducherry': 33.81
}

In [11]:
#Source: https://desagri.gov.in/wp-content/uploads/2023/05/Agricultural-Statistics-at-a-Glance-2022.pdf page 21
# Column used: Agricultural Labour (Main and Marginal), 2022 data

farmers = {
    'arunachal pradesh': 36171,
    'jammu and kashmir': 547705,
    'andhra pradesh': 16967754,
    'telangana': 'NA',
    'manipur': 114918,
    'madhya pradesh': 12192267,
    'haryana': 1528133,
    'gujarat': 6839415,
    'sikkim': 25986,
    'himachal pradesh': 175038,
    'delhi': 39475,
    'punjab': 1588455,
    'karnataka': 7155963,
    'maharashtra': 13486140,
    'odisha': 6739993,
    'rajasthan': 4939664,
    'chandigarh': 1687,
    'kerala': 1322850,
    'chhattisgarh': 5091882,
    'tripura': 353618,
    'mizoram': 41787,
    'assam': 1845346,
    'meghalaya': 198364,
    'tamil nadu': 9606547,
    'west bengal': 10188842,
    'uttarakhand': 403301,
    'uttar pradesh': 19939223,
    'puducherry': 68391,
    'bihar': 18345649,
    'jharkhand': 4436052,
    'nagaland': 62962
}

In [12]:
#Source: https://labourbureau.gov.in/uploads/pdf/FA_2020.pdf page 34, 
#Column used: Working on any day during the year, 2020 data

state_factories = {
    'andhra pradesh': 0,
    'arunachal pradesh': 0,
    'assam': 6425,
    'bihar': 6345,
    'chhattisgarh': 5103,
    'goa': 0,
    'gujarat': 36727,
    'haryana': 13780,
    'himachal pradesh': 5254,
    'jammu and kashmir': 1183,
    'jharkhand': 6449,
    'karnataka': 0,
    'kerala': 21464,
    'madhya pradesh': 6895,
    'maharashtra': 0,
    'manipur': 952,
    'meghalaya': 293,
    'mizoram': 4,
    'nagaland': 1032,
    'odisha': 1994,
    'punjab': 0,
    'rajasthan': 12169,
    'sikkim': 0,
    'tamil nadu': 28200,
    'telangana': 15056,
    'tripura': 881,
    'uttarakhand': 3463,
    'uttar pradesh': 0,
    'west bengal': 0,
    'andaman and nicobar islands': 43,
    'chandigarh': 423,
    'delhi': 0,
    'lakshadweep': 0,
    'puducherry': 2139
}

In [13]:
#Source: https://www.statista.com/statistics/692571/cargo-traffic-volume-at-ports-by-state-india/ 2023 data

url = "https://www.statista.com/statistics/692571/cargo-traffic-volume-at-ports-by-state-india/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

state_cargo_volume = {}

# Find the table body
table_body = soup.find('tbody')

# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        tds = row.find_all('td')  # Get all <td> elements in the row
        if len(tds) >= 2:  
            state_td = tds[0]  # First <td> contains the state name
            data_td = tds[1]  # Second <td> contains the volume
        
        if state_td and data_td: 
            state_name = state_td.text.strip().lower()  
            volume = data_td.text.strip().replace(',', '')  
            
            try:
                state_cargo_volume[state_name] = float(volume)  
            except ValueError:
                state_cargo_volume[state_name] = volume  

# Others includes Puducherry, Andaman and Nicobar islands and Lakshadweep ports.
others_value = state_cargo_volume.pop('others')  # removing "others" and get its value
value_per_state = round(others_value / 3, 2)  # dividing equally between 3

state_cargo_volume['puducherry'] = value_per_state
state_cargo_volume['andaman and nicobar islands'] = value_per_state
state_cargo_volume['lakshadweep'] = value_per_state

In [14]:
data = []
for state, cities_list in cities.items():
    for city in cities_list:
        city_population_value = city_population.get(city.lower(), 'NA')  
        state_area_value = state_area.get(state.lower(), 'NA')  
        state_forest_area_value = state_forest_area.get(state.lower(), 'NA')  
        city_car_value = city_cars.get(city.lower(), 'NA')
        state_vehicle_value = state_vehicles.get(state.lower(), 'NA')
        state_farmers_value = farmers.get(state, 'NA')
        state_population_value = state_population.get(state, 'NA')
        state_factories_value = state_factories.get(state, 'NA')
        state_farming_area_value = state_farming_area.get(state, 'NA')
        state_cargo_volume_value = state_cargo_volume.get(state, 0)
        data.append((state, city, city_population_value, state_population_value, 
                     state_area_value, state_forest_area_value, city_car_value, state_vehicle_value, 
                     state_farming_area_value, state_farmers_value, state_factories_value, 
                     state_cargo_volume_value))


df = pd.DataFrame(data, columns=['State', 'City', 'City Population', 'State Population', 'State Area (sq. km)', 
                                 'Forest Area(sq. km in state)', 'Registered Vehicles in City', 
                                 'Registered Vehicles in State', 'Framing Area (Th. Ha. in state)',
                                 'Farmers (in state)', 'Factories (in state)', 
                                 'Shipping Cargo Volume ( million metric tons in state)'])
display(df)

,State,City,City Population,State Population,State Area (sq. km),Forest Area(sq. km in state),Registered Vehicles in City,Registered Vehicles in State,Framing Area (Th. Ha. in state),Farmers (in state),Factories (in state),Shipping Cargo Volume ( million metric tons in state)
0,arunachal pradesh,naharlagun,NA,1580000,83743,66431.0,NA,230126,3.54,36171,0,0.00
1,jammu and kashmir,srinagar,975857,13733000,222236,23659.0,58634,1967508,19.01,547705,1183,0.00
2,andhra pradesh,chittoor,NA,53402000,162968,29784.0,NA,13108491,35.13,16967754,0,175.18
3,andhra pradesh,kadapa,NA,53402000,162968,29784.0,NA,13108491,35.13,16967754,0,175.18
4,andhra pradesh,anantapur,240442,53402000,162968,29784.0,NA,13108491,35.13,16967754,0,175.18
...,...,...,...,...,...,...,...,...,...,...,...,...
277,bihar,gaya,423692,129205000,94163,7381.0,NA,9903889,54.63,18345649,6345,0.00
278,jharkhand,dhanbad,219636,40129000,79716,23721.0,60880,5064983,12.86,4436052,6449,0.00
279,jharkhand,jorapokhar,NA,40129000,79716,23721.0,NA,5064983,12.86,4436052,6449,0.00
280,jharkhand,pathardih,NA,40129000,79716,23721.0,NA,5064983,12.86,4436052,6449,0.00
281,nagaland,kohima,NA,2258000,16579,12251.0,NA,520293,21.77,62962,1032,0.00

## Add additional variables: coal, gas, aqi and weather.
For coal and gas the states not there should have a 0, I think that is a reasonable assumption... Modify at later date.

In [15]:
coal_df = pd.read_csv("DATA_INDIA/power_plants/coal_plants_state.csv")
gas_df = pd.read_csv("DATA_INDIA/power_plants/gas_plants_state.csv")

In [16]:
gas_df = gas_df.drop(columns="Unnamed: 0")
gas_df = gas_df.rename(columns={"Capacity(MW)":"capacity_gas"}
)

In [17]:
coal_df = coal_df.drop(columns="Unnamed: 0")
coal_df = coal_df.rename(columns={"Capacity(MW)":"capacity_coal"}
)

In [18]:
aqi_df = pd.read_csv("DATA_INDIA/aqi/aqi_jan.csv")

In [19]:
aqi_df = aqi_df[["city","aqi","missing_aqi"]]

In [20]:
aqi_df = aqi_df.rename(columns={"city":"City"})

In [21]:
aqi_df

              City         aqi  missing_aqi
0             agra  121.258065     0.000000
1        ahmedabad  133.483871     0.000000
2           aizawl   43.275862     0.064516
3            ajmer  111.774194     0.000000
4            akola  135.193548     0.000000
..             ...         ...          ...
277   virudhunagar   61.157895     0.387097
278  visakhapatnam  193.607143     0.096774
279      vrindavan   77.642857     0.096774
280         yadgir   90.034483     0.064516
281    yamunanagar  146.100000     0.032258

[282 rows x 3 columns]

In [22]:
weather_df = pd.read_csv("DATA_INDIA/weather/jan_2024_weather.csv")
weather_df = weather_df.drop(columns="Unnamed: 0")

In [23]:
# Add different components.

In [24]:
df = pd.merge(df,weather_df,on="City", how="outer").merge(
    aqi_df,on="City",how="outer"
).merge(
    coal_df, on= "State",how="outer"
).merge(
    gas_df, on= "State", how="outer"
)

In [25]:
df.replace('NA', np.nan, inplace=True)

/var/folders/v_/j4607qws7tq1c9n9g0ynnx340000gp/T/ipykernel_42779/3441017428.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('NA', np.nan, inplace=True)

In [26]:
na_counts = df.isna().sum()
print(na_counts)

State                                                      0
City                                                       2
City Population                                          142
State Population                                           2
State Area (sq. km)                                        2
Forest Area(sq. km in state)                               2
Registered Vehicles in City                              253
Registered Vehicles in State                               2
Framing Area (Th. Ha. in state)                            2
Farmers (in state)                                         3
Factories (in state)                                       2
Shipping Cargo Volume ( million metric tons in state)      2
Temperature                                               39
Pressure                                                  39
Humidity                                                  39
Wind                                                      39
Precipitation                                             39
Clouds                                                    39
Sunshine                                                  39
aqi                                                       19
missing_aqi                                                2
capacity_coal                                             29
capacity_gas                                             108
dtype: int64

In [27]:
df = df.dropna(subset=["City"])

In [28]:
df_copy = df.copy(deep=True)

In [30]:
df.loc[:, ['capacity_coal', 'capacity_gas']] = df.loc[:, ['capacity_coal', 'capacity_gas']].fillna(value=0)

In [31]:
df = df.drop(columns="Registered Vehicles in City")

In [33]:
# Main thing is the population of each city, try to get that.
# Weather is there for almost all.

df = df.dropna()

In [34]:
df.to_csv("DATA_INDIA/CLEAN_MERGED/df_130_cities.csv")

## Random forest test: 50 something 
root MSE with a random forest already we can ballpark it. 
Try standardizing the data or some other stuff another time.

In [63]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [37]:
## Drop city and state and standardize variables
# Then use cross validation.

In [39]:
regressors = df.columns.to_list()

In [40]:
regressors.remove("State")
regressors.remove("City")
regressors.remove("aqi")

In [41]:
X = df[regressors]

In [42]:
y = df["aqi"]

In [45]:
y.describe()

count    130.000000
mean     155.536697
std       70.794282
min       43.275862
25%      110.637097
50%      138.293548
75%      201.067971
max      360.500000
Name: aqi, dtype: float64

In [46]:
rf = RandomForestRegressor()

In [93]:
cv = cross_val_score(X=X, y=y,estimator=RandomForestRegressor(), cv=130, scoring="neg_mean_squared_error")

In [94]:
cv.mean()

-3356.39073515095

## Some k means testing.

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

# Assuming 'df' is your DataFrame
# Drop rows with NA in any column
df_cleaned = df.replace('NA', pd.NA).dropna()

na_counts_cleaned = df_cleaned.isin(['NA']).sum()
print(na_counts_cleaned)
display(df_cleaned)

# Drop unnecessary columns: 'Registered Vehicles in State', 'State Population', and 'State Area (sq. km)'
df_cleaned = df_cleaned.drop(columns=['Registered Vehicles in State', 'State Population', 'State Area (sq. km)'])

# Perform KMeans clustering on numerical columns
numerical_columns = ['City Population', 'Forest Area(sq. km in state)', 'Farmers (in state)', 'Registered Vehicles in City']
kmeans = KMeans(n_clusters=3, random_state=42)
df_cleaned['Cluster'] = kmeans.fit_predict(df_cleaned[numerical_columns])

# Plot the clusters
plt.figure(figsize=(10, 6))
plt.scatter(df_cleaned['City Population'], df_cleaned['Farmers (in state)'], c=df_cleaned['Cluster'], cmap='viridis')
plt.title('KMeans Clustering: City Population vs Farmers')
plt.xlabel('City Population')
plt.ylabel('Farmers (in state)')
plt.colorbar(label='Cluster')
plt.show()