## add sophies weather code!

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
import numpy as np

In [2]:
print(os.getcwd())
# Directory should be at github repo level.
# .. to move up 2 directory level.
os.chdir("..")
print(os.getcwd())

C:\Users\Hp\Desktop\LSE\MVD\2024-project-pollution-team\CODE_INDIA
C:\Users\Hp\Desktop\LSE\MVD\2024-project-pollution-team

In [3]:
cities = {
    'arunachal pradesh': ['naharlagun'],
    'jammu and kashmir': ['srinagar'],
    'andhra pradesh': ['chittoor', 'kadapa', 'anantapur', 'visakhapatnam', 'amaravati', 'vijayawada', 'rajamahendravaram', 'tirupati'],
    'telangana': ['hyderabad'],
    'manipur': ['imphal'],
    'madhya pradesh': ['mandideep', 'satna', 'bhopal', 'ratlam', 'gwalior', 'katni', 'maihar', 'damoh', 'dewas', 'jabalpur', 'ujjain', 'sagar', 'singrauli', 'pithampur', 'indore'],
    'haryana': ['ambala', 'sirsa', 'palwal', 'kurukshetra', 'ballabgarh', 
                'manesar', 'narnaul', 'gurugram', 'karnal', 'bahadurgarh', 
                'rohtak', 'kaithal', 'sonipat', 'mandikhera', 'faridabad', 
                'hisar', 'yamunanagar', 'charkhi_dadri', 'jind', 'panipat', 
                'bhiwani', 'panchkula', 'fatehabad', 'dharuhera'],
    'gujarat': ['ankleshwar', 'gandhinagar', 'surat', 'vapi', 'vatva', 'ahmedabad', 'nandesari'],
    'sikkim': ['gangtok'],
    'himachal pradesh': ['baddi'],
    'delhi': ['delhi'],
    'punjab': ['ludhiana', 'bathinda', 'mandi_gobindgarh', 'khanna', 'rupnagar', 'jalandhar', 'amritsar', 'patiala'],
    'karnataka': ['mysuru', 'yadgir', 'kolar', 'koppal', 'bidar', 
                  'vijayapura', 'gadag', 'mangalore', 'kalaburagi', 'hubballi', 
                  'udupi', 'belgaum', 'madikeri', 'haveri', 'tumakuru', 
                  'bengaluru', 'dharwad', 'hassan', 'shivamogga', 
                  'chikkamagaluru', 'chamarajanagar', 'chikkaballapur', 
                  'bagalkot', 'davanagere', 'ramanagara', 'raichur', 'karwar'],
    'maharashtra': ['latur', 'kalyan', 'sangli', 'dhule', 'bhiwandi', 'virar', 
                    'kolhapur', 'nagpur', 'chandrapur', 'pune', 'jalgaon', 
                    'solapur', 'ulhasnagar', 'amravati', 'parbhani', 
                    'badlapur', 'akola', 'boisar', 'mumbai', 'jalna', 'nashik', 
                    'belapur', 'malegaon', 'thane', 'navi_mumbai', 'mahad', 'nanded'],
    'odisha': ['baripada', 'bileipada', 'angul', 'tensa', 'cuttack', 'balasore', 'keonjhar', 'rairangpur', 'talcher', 'byasanagar', 'suakati', 'rourkela', 'nayagarh', 'barbil', 'brajrajnagar'],
    'rajasthan': ['sirohi', 'baran', 'banswara', 'hanumangarh', 'bharatpur', 
                  'bikaner', 'jalore', 'bhiwadi', 'sikar', 'karauli', 
                  'bhilwara', 'alwar', 'bundi', 'dausa', 'chittorgarh', 
                  'barmer', 'jaipur', 'jaisalmer', 'pratapgarh', 
                  'sawai_madhopur', 'jhalawar', 'jhunjhunu', 'nagaur', 'ajmer', 
                  'rajsamand', 'jodhpur', 'sri_ganganagar', 'pali', 'kota', 
                  'dholpur', 'dungarpur', 'tonk', 'churu', 'udaipur'],
    'chandigarh': ['chandigarh'],
    'kerala': ['thiruvananthapuram', 'thrissur', 'kozhikode', 'kollam', 'kannur', 'eloor', 'ernakulam', 'kochi'],
    'chhattisgarh': ['bhilai', 'chhal', 'milupara', 'bilaspur', 'raipur', 'tumidih', 'kunjemura', 'korba'],
    'tripura': [],
    'mizoram': ['aizawl'],
    'assam': ['silchar', 'nalbari', 'guwahati', 'nagaon', 'sivasagar', 'byrnihat'],
    'meghalaya': ['shillong'],
    'tamil nadu': ['tiruchirappalli', 'nagapattinam', 'coimbatore', 'vellore', 'ranipet', 'dindigul', 'tirupur', 'ooty', 'kanchipuram', 'tirunelveli', 'chennai', 'gummidipoondi', 'perundurai', 'thanjavur', 'cuddalore', 'karur', 'thoothukudi', 'pudukottai', 'ariyalur', 'salem', 'madurai', 'ramanathapuram', 'virudhunagar', 'hosur', 'palkalaiperur', 'chengalpattu'],
    'west bengal': ['kolkata', 'haldia', 'durgapur', 'siliguri', 'asansol', 'howrah', 'barrackpore'],
    'uttarakhand': ['kashipur', 'rishikesh', 'dehradun'],
    'uttar pradesh': ['agra', 'prayagraj', 'meerut', 'jhansi', 'greater_noida', 'kanpur', 'bulandshahr', 'lucknow', 'firozabad', 'moradabad', 'hapur', 'vrindavan', 'ghaziabad', 'bareilly', 'noida', 'varanasi', 'muzaffarnagar', 'gorakhpur', 'khurja', 'baghpat'],
    'puducherry': ['puducherry'],
    'bihar': ['rajgir', 'araria', 'bettiah', 'begusarai', 'katihar', 'saharsa', 'samastipur', 'motihari', 'muzaffarpur', 'bhagalpur', 'buxar', 'darbhanga', 'sasaram', 'bihar_sharif', 'purnia', 'manguraha', 'patna', 'arrah', 'hajipur', 'siwan', 'chhapra', 'kishanganj', 'munger', 'gaya'],
    'jharkhand': ['dhanbad', 'jorapokhar', 'pathardih'],
    'nagaland': ['kohima'],
    'goa': []
}

In [4]:
#Source: https://statisticstimes.com/demographics/india/indian-states-population.php, 2024 data

url = "https://statisticstimes.com/demographics/india/indian-states-population.php"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

state_population = {}

table_body = soup.find('tbody')
# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        state_td = row.find('td', {'class': 'name'})  # State name
        data_tds = row.find_all('td', {'class': 'data'})  
        if state_td and len(data_tds) >= 2:  # ensure the second `data` exists which is the data for 2024
            state_name = state_td.text.strip().lower()  
            if state_name == 'jammu & kashmir':  # for API data formatting
                state_name = 'jammu and kashmir'
            population = data_tds[1].text.strip().replace(',', '')
            try:
                state_population[state_name] = int(population)  # convert population to integer
            except ValueError:
                state_population[state_name] = population

In [5]:
#Source: https://worldpopulationreview.com/cities/india, 2024 data

url = "https://worldpopulationreview.com/cities/india"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

city_population = {}
table_body = soup.find('tbody', {'class': 'relative z-10 text-sm'})

# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        th = row.find('th')  
        td = row.find('td')  
        if th and td:
            city_name = th.text.strip().lower()
            population = td.text.strip().replace(',', '')
            city_population[city_name] = int(population)

In [6]:
# Source: https://fsi.nic.in/isfr-2021/chapter-2.pdf page 17, 
# Geo-graphical Area Column, 2021 data

state_area = {
    'andhra pradesh': 162968,
    'arunachal pradesh': 83743,
    'assam': 78438,
    'bihar': 94163,
    'chhattisgarh': 135192,
    'delhi': 1483,
    'goa': 3702,
    'gujarat': 196244,
    'haryana': 44212,
    'himachal pradesh': 55673,
    'jharkhand': 79716,
    'karnataka': 191791,
    'kerala': 38852,
    'madhya pradesh': 308252,
    'maharashtra': 307713,
    'manipur': 22327,
    'meghalaya': 22429,
    'mizoram': 21081,
    'nagaland': 16579,
    'odisha': 155707,
    'punjab': 50362,
    'rajasthan': 342239,
    'sikkim': 7096,
    'tamil nadu': 130060,
    'telangana': 112077,
    'tripura': 10486,
    'uttar pradesh': 240928,
    'uttarakhand': 53483,
    'west bengal': 88752,
    'andaman and nicobar islands': 8249,
    'chandigarh': 114,
    'jammu and kashmir': 222236,
    'lakshwadeep': 30,
    'puducherry': 490
}

In [7]:
#Source: https://fsi.nic.in/isfr-2021/chapter-2.pdf page 17-18, 
# Total Forest Cover column, 2021 data

state_forest_area = {
    'andhra pradesh': 29784,
    'arunachal pradesh': 66431,
    'assam': 28312,
    'bihar': 7381,
    'chhattisgarh': 55717,
    'delhi': 195,
    'goa': 2244,
    'gujarat': 14926,
    'haryana': 1603,
    'himachal pradesh': 15443,
    'jharkhand': 23721,
    'karnataka': 38730,
    'kerala': 21253,
    'madhya pradesh': 77493,
    'maharashtra': 50798,
    'manipur': 16598,
    'meghalaya': 17046,
    'mizoram': 17820,
    'nagaland': 12251,
    'odisha': 52156,
    'punjab': 1847,
    'rajasthan': 16655,
    'sikkim': 3341,
    'tamil nadu': 26419,
    'telangana': 21214,
    'tripura': 7722,
    'uttar pradesh': 14818,
    'uttarakhand': 24305,
    'west bengal': 16832,
    'andaman and nicobar islands': 6744,
    'chandigarh': 22.88,
    'jammu and kashmir': 23659,
    'lakshwadeep': 27.10,
    'puducherry': 53.30
}

In [8]:
# Source: https://www.data.gov.in/resource/cities-wise-total-registered-motor-vehicles-transport-million-plus-cities-india-31st-march
# Excel file downloaded from website 2020 data

cars_df = pd.read_csv("DATA_INDIA/cars.csv")
i = cars_df.iloc[:, 0].str.lower()  
j = cars_df.iloc[:, -1].astype(int)  
city_cars = dict(zip(i, j))

In [9]:
#Source: https://morth.nic.in/sites/default/files/RTYB_Publication_2019_20%20(1).pdf page 91, 
# Column used Total registered motorvehicles (As on 31.3.2020), 2019-20 data

state_vehicles = {
    'andhra pradesh': 13108491,
    'arunachal pradesh': 230126,
    'assam': 4358529,
    'bihar': 9903889,
    'chhattisgarh': 6986219,
    'goa': 1457752,
    'gujarat': 26836981,
    'haryana': 8599668,
    'himachal pradesh': 1711920,
    'jammu and kashmir': 1967508,
    'jharkhand': 5064983,
    'karnataka': 26117614,
    'kerala': 14184184,
    'madhya pradesh': 17923162,
    'maharashtra': 37786256,
    'manipur': 361970,
    'meghalaya': 365804,
    'mizoram': 267350,
    'nagaland': 520293,
    'odisha': 9115718,
    'punjab': 11336366,
    'rajasthan': 19236010,
    'sikkim': 54106,
    'tamil nadu': 32094588,
    'telangana': 12906426,
    'tripura': 551097,
    'uttarakhand': 2898982,
    'uttar pradesh': 34924824,
    'west bengal': 10915952,
    'andaman and nicobar islands': 150060,
    'chandigarh': 1058857,
    'delhi': 11892877,
    'lakshadweep': 22665,
    'puducherry': 1118782
}

In [10]:
#Source: https://desagri.gov.in/wp-content/uploads/2024/09/Final-file-of-LUS-2022-23-for-uploading.pdf page 19, 
# net area sown taken as the area of land used for cultivation, 2022-23 data

state_farming_area = {
    'andhra pradesh': 35.13,
    'arunachal pradesh': 3.54,
    'assam': 35.05,
    'bihar': 54.63,
    'chhattisgarh': 32.50,
    'goa': 34.85,
    'gujarat': 51.83,
    'haryana': 82.33,
    'himachal pradesh': 11.62,
    'jammu and kashmir': 19.01,
    'jharkhand': 12.86,
    'karnataka': 58.59,
    'kerala': 51.20,
    'madhya pradesh': 51.53,
    'maharashtra': 53.62,
    'manipur': 18.37,
    'meghalaya': 12.45,
    'mizoram': 7.10,
    'nagaland': 21.77,
    'odisha': 28.58,
    'punjab': 81.70,
    'rajasthan': 53.74,
    'sikkim': 16.91,
    'tamil nadu': 37.12,
    'telangana': 52.61,
    'tripura': 24.26,
    'uttarakhand': 9.47,
    'uttar pradesh': 68.56,
    'west bengal': 60.06,
    'andaman and nicobar islands': 2.06,
    'chandigarh': 12.74,
    'delhi': 13.31,
    'lakshadweep': 41.05,
    'puducherry': 33.81
}

In [11]:
#Source: https://desagri.gov.in/wp-content/uploads/2023/05/Agricultural-Statistics-at-a-Glance-2022.pdf page 21
#Column used: Agricultural Labour (Main and Marginal), 2022 data
#For Telangana data unavailable on these source so state source used for total agricultural workers:
#source: https://horticulture.tg.nic.in/downloads/TelanganaStateStatisticalAbstract_19_Jan_2022.pdf page 49

farmers = {
    'arunachal pradesh': 36171,
    'jammu and kashmir': 547705,
    'andhra pradesh': 16967754,
    'telangana': 'NA',
    'manipur': 114918,
    'madhya pradesh': 12192267,
    'haryana': 1528133,
    'gujarat': 6839415,
    'sikkim': 25986,
    'himachal pradesh': 175038,
    'delhi': 39475,
    'punjab': 1588455,
    'karnataka': 7155963,
    'maharashtra': 13486140,
    'odisha': 6739993,
    'rajasthan': 4939664,
    'chandigarh': 1687,
    'kerala': 1322850,
    'chhattisgarh': 5091882,
    'tripura': 353618,
    'mizoram': 41787,
    'assam': 1845346,
    'meghalaya': 198364,
    'tamil nadu': 9606547,
    'west bengal': 10188842,
    'uttarakhand': 403301,
    'uttar pradesh': 19939223,
    'puducherry': 68391,
    'bihar': 18345649,
    'jharkhand': 4436052,
    'nagaland': 62962,
    'telangana': 5915151    
}

In [12]:
#Source: https://labourbureau.gov.in/uploads/pdf/FA_2020.pdf page 34, 
#Column used: Working on any day during the year, 2020 data

state_factories = {
    'andhra pradesh': 0,
    'arunachal pradesh': 0,
    'assam': 6425,
    'bihar': 6345,
    'chhattisgarh': 5103,
    'goa': 0,
    'gujarat': 36727,
    'haryana': 13780,
    'himachal pradesh': 5254,
    'jammu and kashmir': 1183,
    'jharkhand': 6449,
    'karnataka': 0,
    'kerala': 21464,
    'madhya pradesh': 6895,
    'maharashtra': 0,
    'manipur': 952,
    'meghalaya': 293,
    'mizoram': 4,
    'nagaland': 1032,
    'odisha': 1994,
    'punjab': 0,
    'rajasthan': 12169,
    'sikkim': 0,
    'tamil nadu': 28200,
    'telangana': 15056,
    'tripura': 881,
    'uttarakhand': 3463,
    'uttar pradesh': 0,
    'west bengal': 0,
    'andaman and nicobar islands': 43,
    'chandigarh': 423,
    'delhi': 0,
    'lakshadweep': 0,
    'puducherry': 2139
}

In [13]:
#Source: https://www.statista.com/statistics/692571/cargo-traffic-volume-at-ports-by-state-india/ 2023 data

url = "https://www.statista.com/statistics/692571/cargo-traffic-volume-at-ports-by-state-india/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

state_cargo_volume = {}

# Find the table body
table_body = soup.find('tbody')

# loop through each row in the table
if table_body:
    rows = table_body.find_all('tr')
    for row in rows:
        tds = row.find_all('td')  # Get all <td> elements in the row
        if len(tds) >= 2:  
            state_td = tds[0]  # First <td> contains the state name
            data_td = tds[1]  # Second <td> contains the volume
        
        if state_td and data_td: 
            state_name = state_td.text.strip().lower()  
            volume = data_td.text.strip().replace(',', '')  
            
            try:
                state_cargo_volume[state_name] = float(volume)  
            except ValueError:
                state_cargo_volume[state_name] = volume  

# Others includes Puducherry, Andaman and Nicobar islands and Lakshadweep ports.
others_value = state_cargo_volume.pop('others')  # removing "others" and get its value
value_per_state = round(others_value / 3, 2)  # dividing equally between 3

state_cargo_volume['puducherry'] = value_per_state
state_cargo_volume['andaman and nicobar islands'] = value_per_state
state_cargo_volume['lakshadweep'] = value_per_state

In [14]:
#Webscraping for coal and gas data
#Source: https://en.wikipedia.org/wiki/List_of_power_stations_in_India

link_web = "https://en.wikipedia.org/wiki/List_of_power_stations_in_India"
cities_web = requests.get(link_web)
soup = BeautifulSoup(cities_web.content,"lxml")

# Table 2,3,4 are coal, gas plants, those are the ones we want.
def tables_to_df(soup=soup,table_num=2):
    table = soup.find_all('table')[table_num]
    
    headers = []
    rows = []
    for i, row in enumerate(table.find_all('tr')):
        if i == 0:
            headers = [el.text.strip() for el in row.find_all('th')]
        else:
            rows.append([el.text.strip() for el in row.find_all('td')])

    return pd.DataFrame(rows,columns=headers)

df_coal = tables_to_df(soup,table_num=2)
df_gas = tables_to_df(soup,table_num=3)

In [15]:
df_coal_clean = df_coal[["Location","District","State","Capacity(MW)","Sector"]]
df_coal_clean = df_coal_clean.dropna(how="all")
df_coal_clean = df_coal_clean.dropna(how="any", subset=["Capacity(MW)"])
df_coal_clean['Capacity(MW)'] = (
    df_coal_clean['Capacity(MW)']
    .astype(str)  # Convert to string for uniform processing
    .str.replace(",", "", regex=False)  # Remove commas
    .str.replace("-", "0", regex=False)  # Replace dashes with 0
    .str.replace(r"\[.*?\]", "", regex=True)  # Remove anything in square brackets (like [22])
    .str.strip()  # Remove leading and trailing whitespaces
    .replace("", "0")  # Replace any empty strings with 0
    .astype(float)  # Convert to float
)                                  
df_coal_state = df_coal_clean.groupby("State",as_index=False)["Capacity(MW)"].sum()
df_coal_state["State"] = df_coal_state["State"].str.lower()
coal_df = df_coal_state.rename(columns={"Capacity(MW)":"Coal Capacity (Max Electricity ouput in MW)"})

In [16]:
df_gas_clean = df_gas.dropna(how="all")
df_gas_clean = df_gas_clean.dropna(how="any", subset=["Capacity(MW)"])
df_gas_clean['Capacity(MW)'] = (
    df_gas_clean['Capacity(MW)']
    .astype(str)  # Convert to string for uniform processing
    .str.replace(",", "", regex=False)  # Remove commas
    .str.replace("-", "0", regex=False)  # Replace dashes with 0
    .str.replace(r"\[.*?\]", "", regex=True)  # Remove anything in square brackets (like [22])
    .str.strip()  # Remove leading and trailing whitespaces
    .replace("", "0")  # Replace any empty strings with 0
    .astype(float)  # Convert to float
)
df_gas_clean = df_gas_clean[["State","Capacity(MW)"]]
df_gas_clean["State"] = df_gas_clean["State"].str.lower()
df_gas_state = df_gas_clean.groupby("State",as_index=False)["Capacity(MW)"].sum()
gas_df = df_gas_state.rename(columns={"Capacity(MW)":"Gas Capacity (Max Electricity ouput in MW)"})

In [17]:
weather_df = pd.read_csv("DATA_INDIA/weather/jan_2024_weather.csv")
weather_df = weather_df.drop(columns="Unnamed: 0")

In [18]:
data = []
for state, cities_list in cities.items():
    for city in cities_list:
        city_population_value = city_population.get(city.lower(), 'NA')  
        state_area_value = state_area.get(state.lower(), 'NA')  
        state_forest_area_value = state_forest_area.get(state.lower(), 'NA')  
        city_car_value = city_cars.get(city.lower(), 'NA')
        state_vehicle_value = state_vehicles.get(state.lower(), 'NA')
        state_farmers_value = farmers.get(state, 'NA')
        state_population_value = state_population.get(state, 'NA')
        state_factories_value = state_factories.get(state, 'NA')
        state_farming_area_value = state_farming_area.get(state, 'NA')
        state_cargo_volume_value = state_cargo_volume.get(state, 0)
        data.append((state, city, city_population_value, state_population_value, 
                     state_area_value, state_forest_area_value, city_car_value, state_vehicle_value, 
                     state_farming_area_value, state_farmers_value, state_factories_value, 
                     state_cargo_volume_value))


df = pd.DataFrame(data, columns=['State', 'City', 'City Population', 'State Population', 'State Area (sq. km)', 
                                 'Forest Area(sq. km in state)', 'Registered Vehicles in City', 
                                 'Registered Vehicles in State', 'Framing Area (Th. Ha. in state)',
                                 'Farmers (in state)', 'Factories (in state)', 
                                 'Shipping Cargo Volume ( million metric tons in state)'])

In [19]:
df = pd.merge(df,weather_df,on="City", how="outer").merge(
    coal_df, on= "State",how="outer"
).merge(
    gas_df, on= "State", how="outer"
)

In [20]:
df.replace('NA', np.nan, inplace=True)
df = df.dropna(subset=["City"])
df.loc[:, ['Coal Capacity (Max Electricity ouput in MW)', 
           'Gas Capacity (Max Electricity ouput in MW)']] = df.loc[:, ['Coal Capacity (Max Electricity ouput in MW)', 
                                                                       'Gas Capacity (Max Electricity ouput in MW)'
                                                                      ]].fillna(value=0)

In [21]:
display(df)

,State,City,City Population,State Population,State Area (sq. km),Forest Area(sq. km in state),Registered Vehicles in City,Registered Vehicles in State,Framing Area (Th. Ha. in state),Farmers (in state),...,Shipping Cargo Volume ( million metric tons in state),Temperature,Pressure,Humidity,Wind,Precipitation,Clouds,Sunshine,Coal Capacity (Max Electricity ouput in MW),Gas Capacity (Max Electricity ouput in MW)
0,arunachal pradesh,naharlagun,NaN,1580000.0,83743.0,66431.0,NaN,230126.0,3.54,36171.0,...,0.00,288.80,1010.92,71.55,1.44,0.02,32.29,95.08,0.0,0.0
1,jammu and kashmir,srinagar,975857.0,13733000.0,222236.0,23659.0,58634.0,1967508.0,19.01,547705.0,...,0.00,271.28,906.50,71.02,0.96,0.01,45.14,111.38,0.0,175.0
2,andhra pradesh,chittoor,NaN,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,175.18,295.66,1001.07,74.38,2.30,0.02,35.85,125.92,11275.0,7508.2
3,andhra pradesh,kadapa,NaN,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,175.18,296.25,1002.93,71.07,2.43,0.01,29.30,119.31,11275.0,7508.2
4,andhra pradesh,anantapur,240442.0,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,175.18,296.57,990.04,60.61,3.27,0.01,29.93,166.00,11275.0,7508.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,bihar,gaya,423692.0,129205000.0,94163.0,7381.0,NaN,9903889.0,54.63,18345649.0,...,0.00,288.41,1013.66,71.86,2.14,0.07,28.00,156.46,10040.0,0.0
278,jharkhand,dhanbad,219636.0,40129000.0,79716.0,23721.0,60880.0,5064983.0,12.86,4436052.0,...,0.00,290.40,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0
279,jharkhand,jorapokhar,NaN,40129000.0,79716.0,23721.0,NaN,5064983.0,12.86,4436052.0,...,0.00,290.40,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0
280,jharkhand,pathardih,NaN,40129000.0,79716.0,23721.0,NaN,5064983.0,12.86,4436052.0,...,0.00,290.40,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0
281,nagaland,kohima,NaN,2258000.0,16579.0,12251.0,NaN,520293.0,21.77,62962.0,...,0.00,288.71,997.90,76.66,1.03,0.02,25.51,169.77,0.0,0.0

## AQI

In [22]:
os.getcwd()

pollution_city = pd.read_excel("DATA_INDIA/aqi/pollution_cities/andhra pradesh/AQI_daily_city_level_amaravati_2024_amaravati_2024.xlsx",nrows=31)

value_vars = pollution_city.columns.to_list()
value_vars.remove("Date")
value_vars

VALUE_VARS = tuple(value_vars)

#"pollution_cities/andhra pradesh/AQI_daily_city_level_amaravati_2024_amaravati_2024.xlsx"
def read_excel(path,city,state,value_vars=VALUE_VARS):
    """
    Takes excel for different cities and cleans and converts to long format
    """
    
    pollution_city = pd.read_excel(path,nrows=31)
    
    pollution_city.replace('NA ', np.nan, inplace=True)
    # Just in case
    pollution_city.replace('NA', np.nan, inplace=True)
    
    pollution_city_long = pollution_city.melt(id_vars="Date",value_vars=value_vars)
    
    pollution_city_long["value"] = pd.to_numeric(pollution_city_long["value"])

    # Add state and city identifier.
    pollution_city_long["city"] = city
    pollution_city_long["state"] = state

    return pollution_city_long

def city_name(test_str):
    """
    
    Get the city name from the name of the excel file
    
    """
    idx1 = test_str.index("AQI_daily_city_level_")
    idx2 = test_str.index("2024")
     
    # length of substring 1 is added to
    # get string from next character
    res = test_str[idx1 + len("AQI_daily_city_level_"): idx2-1]
    
    return res

list_df = []

# Use os to loop over every file in the directory.
counter = 0
for state in os.listdir("DATA_INDIA/aqi/pollution_cities"):
    if state != ".DS_Store":
        
        # Go through every city in each state.
        
        for city in os.listdir(f"DATA_INDIA/aqi/pollution_cities/{state}"):
            
            if city != ".DS_Store" and city != ".ipynb_checkpoints":
                # Count the number of cities.
                counter +=1
                
                # For each city extract the name, using the function defined above.
                #print(city,state)
                name_city = city_name(city)

                # Read the excel file.
                full_path = "DATA_INDIA/aqi/pollution_cities/"+state+"/"+city

                # append the cleaned city dataframe.
                list_df.append(read_excel(path=full_path,city=name_city,state=state))
                               

# Remarkably well formatted across cities, so nice :)
df_aqi = pd.concat(list_df)

df_aqi.rename(columns={"Date":"date","value":"aqi","variable":"month"},inplace=True)

In [23]:
display(df_aqi)

     date     month    aqi       city           state
0       1   January  241.0  amaravati  andhra pradesh
1       2   January  224.0  amaravati  andhra pradesh
2       3   January  261.0  amaravati  andhra pradesh
3       4   January  241.0  amaravati  andhra pradesh
4       5   January  151.0  amaravati  andhra pradesh
..    ...       ...    ...        ...             ...
367    27  December    NaN   siliguri     west bengal
368    28  December    NaN   siliguri     west bengal
369    29  December    NaN   siliguri     west bengal
370    30  December    NaN   siliguri     west bengal
371    31  December    NaN   siliguri     west bengal

[104904 rows x 5 columns]

In [24]:
# We want to count the missing values to see if there is some pattern or if it just random.
missing_aqi = df_aqi["aqi"].isna().rename("missing_aqi")
df_aqi = pd.concat([df_aqi,missing_aqi],axis=1)
df_aqi = df_aqi.rename(columns={"city":"City"})
# Get monthly averages.
df_monthly = df_aqi.groupby(["month","City","state"],as_index=False)[["aqi","missing_aqi"]].mean()

# January only 
df_jan = df_monthly[df_monthly["month"]=="January"]

In [25]:
display(df_jan)

        month           City           state         aqi  missing_aqi
1128  January           agra   uttar pradesh  121.258065     0.000000
1129  January      ahmedabad         gujarat  133.483871     0.000000
1130  January         aizawl         mizoram   43.275862     0.064516
1131  January          ajmer       rajasthan  111.774194     0.000000
1132  January          akola     maharashtra  135.193548     0.000000
...       ...            ...             ...         ...          ...
1405  January   virudhunagar      tamil nadu   61.157895     0.387097
1406  January  visakhapatnam  andhra pradesh  193.607143     0.096774
1407  January      vrindavan   uttar pradesh   77.642857     0.096774
1408  January         yadgir       karnataka   90.034483     0.064516
1409  January    yamunanagar         haryana  146.100000     0.032258

[282 rows x 5 columns]

# COMPLETE DATASET

In [26]:
df_jan = df_jan[["City","aqi","missing_aqi"]]
dataset = pd.merge(df,df_jan, on = 'City',how='outer')
display(dataset)

,State,City,City Population,State Population,State Area (sq. km),Forest Area(sq. km in state),Registered Vehicles in City,Registered Vehicles in State,Framing Area (Th. Ha. in state),Farmers (in state),...,Pressure,Humidity,Wind,Precipitation,Clouds,Sunshine,Coal Capacity (Max Electricity ouput in MW),Gas Capacity (Max Electricity ouput in MW),aqi,missing_aqi
0,arunachal pradesh,naharlagun,NaN,1580000.0,83743.0,66431.0,NaN,230126.0,3.54,36171.0,...,1010.92,71.55,1.44,0.02,32.29,95.08,0.0,0.0,89.454545,0.290323
1,jammu and kashmir,srinagar,975857.0,13733000.0,222236.0,23659.0,58634.0,1967508.0,19.01,547705.0,...,906.50,71.02,0.96,0.01,45.14,111.38,0.0,175.0,NaN,1.000000
2,andhra pradesh,chittoor,NaN,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,1001.07,74.38,2.30,0.02,35.85,125.92,11275.0,7508.2,73.500000,0.161290
3,andhra pradesh,kadapa,NaN,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,1002.93,71.07,2.43,0.01,29.30,119.31,11275.0,7508.2,53.307692,0.161290
4,andhra pradesh,anantapur,240442.0,53402000.0,162968.0,29784.0,NaN,13108491.0,35.13,16967754.0,...,990.04,60.61,3.27,0.01,29.93,166.00,11275.0,7508.2,76.928571,0.096774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,bihar,gaya,423692.0,129205000.0,94163.0,7381.0,NaN,9903889.0,54.63,18345649.0,...,1013.66,71.86,2.14,0.07,28.00,156.46,10040.0,0.0,217.064516,0.000000
278,jharkhand,dhanbad,219636.0,40129000.0,79716.0,23721.0,60880.0,5064983.0,12.86,4436052.0,...,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0,168.100000,0.032258
279,jharkhand,jorapokhar,NaN,40129000.0,79716.0,23721.0,NaN,5064983.0,12.86,4436052.0,...,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0,NaN,1.000000
280,jharkhand,pathardih,NaN,40129000.0,79716.0,23721.0,NaN,5064983.0,12.86,4436052.0,...,1006.76,58.06,2.33,0.02,17.45,217.15,6627.5,0.0,210.071429,0.548387
281,nagaland,kohima,NaN,2258000.0,16579.0,12251.0,NaN,520293.0,21.77,62962.0,...,997.90,76.66,1.03,0.02,25.51,169.77,0.0,0.0,100.354839,0.000000

In [27]:
#Mainly the states Goa and Tripura are dropped as there is no AQI data available for them 
#These states are smaller in size so may not have a recording station
#Some other cities are dropped as well as the do not data recorded for January
dataset = dataset.dropna(subset=['aqi'])

In [28]:
na_counts = dataset.isna().sum()
print(na_counts)

State                                                      0
City                                                       0
City Population                                          129
State Population                                           0
State Area (sq. km)                                        0
Forest Area(sq. km in state)                               0
Registered Vehicles in City                              236
Registered Vehicles in State                               0
Framing Area (Th. Ha. in state)                            0
Farmers (in state)                                         0
Factories (in state)                                       0
Shipping Cargo Volume ( million metric tons in state)      0
Temperature                                               37
Pressure                                                  37
Humidity                                                  37
Wind                                                      37
Precipitation                                             37
Clouds                                                    37
Sunshine                                                  37
Coal Capacity (Max Electricity ouput in MW)                0
Gas Capacity (Max Electricity ouput in MW)                 0
aqi                                                        0
missing_aqi                                                0
dtype: int64

In [29]:
dataset.to_csv("DATA_INDIA/CLEAN_MERGED/complete_dataset.csv")