# Power plants data from India: 

- Scrape from Wikipedia: https://en.wikipedia.org/wiki/List_of_power_stations_in_India
- $ indicate scrapped power stations. Sometimes it means it is closed sometimes it means expansion - if there is a value without a dollar sign -.

- Table not fully clean - some locations are missing-, inital merge can be by state and see how me move.
Some of the ones with issues are small low capacity, we can ignore those.
- COAL and GAS only polluting ones.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os

In [2]:
os.getcwd()
# Directory should be at github repo level.
# .. to move up one directory level.

os.chdir("..")

## Webscraping wikipedia

In [4]:
#https://en.wikipedia.org/wiki/List_of_power_stations_in_India

In [3]:
link_web = "https://en.wikipedia.org/wiki/List_of_power_stations_in_India"
cities_web = requests.get(link_web)
print(cities_web)
soup = BeautifulSoup(cities_web.content,"lxml")

<Response [200]>

In [4]:
#https://scrapfly.io/blog/how-to-scrape-tables-with-beautifulsoup/

# Table 2,3,4 are coal, gas plants, those are the ones we want.
def tables_to_df(soup=soup,table_num=2):
    table = soup.find_all('table')[table_num]
    
    headers = []
    rows = []
    for i, row in enumerate(table.find_all('tr')):
        if i == 0:
            headers = [el.text.strip() for el in row.find_all('th')]
        else:
            rows.append([el.text.strip() for el in row.find_all('td')])

    return pd.DataFrame(rows,columns=headers)

In [5]:
df_coal = tables_to_df(soup,table_num=2)
df_coal

,Name,Location,District,State,Region,Coordinates,Unit capacities,Capacity(MW),Operator,Sector
0,Vindhyachal Super Thermal Power Station[15],Vindhya Nagar,Singrauli,Madhya Pradesh,Western,24°05′53″N 82°40′18″E﻿ / ﻿24.09806°N 82.67167°...,"6 x 210, 7x 500","4,760",NTPC,Central
1,Mundra Thermal Power Station,Mundra,Kutch,Gujarat,Western,22°49′22″N 69°33′10″E﻿ / ﻿22.82278°N 69.55278°...,"4 x 330, 5 X 660","4,620",Adani Power,Private
2,Mundra Ultra Mega Power Project[16],Mundra,Kutch,Gujarat,Western,22°49′22″N 69°33′10″E﻿ / ﻿22.82278°N 69.55278°...,5 X 800,"4,000",Tata Power,Private
3,Sasan Ultra Mega Power Project,Sasan,Singrauli,Madhya Pradesh,Western,,6 x 660,"3,960",Reliance Power,Private
4,KSK Mahanadi Power Project,Nariyara,Janjgir–Champa district,Chhattisgarh,Western,22°49′22″N 69°33′10″E﻿ / ﻿22.82278°N 69.55278°...,6 X 600,"3,600",KSK Energy Ventures,Private
...,...,...,...,...,...,...,...,...,...,...
141,Meenakshi Power Plant,Krishnapatnam,Nellore,Andhra Pradesh,Southern,14°12′57″N 80°05′19″E﻿ / ﻿14.21583°N 80.08861°...,2 x 150,300,MEPL,Private
142,Neyveli Zero Lignite Power Station,Neyveli,Cuddalore,Tamil Nadu,Southern,11°32′33″N 79°24′57″E﻿ / ﻿11.54250°N 79.41583°...,1 x 250,250,TAQA,Private
143,Ramagundam B Thermal Power Station,Ramagundam,Karimnagar,Telangana,Southern,18°43′31″N 79°30′47″E﻿ / ﻿18.72528°N 79.51306°...,1 x 62.5,62.5,TSGENCO,State
144,None,None,None,None,None,None,None,None,None,None
145,None,None,None,None,None,None,None,None,None,None

In [6]:
df_gas = tables_to_df(soup,table_num=3)
df_gas

,Power station,Location,District,State,Region,Coordinates,Unit capacities,Capacity(MW),Operator,Sector
0,Dabhol Power Station,Anganvel,Ratnagiri,Maharashtra,Western,17°33′35″N 73°09′59″E﻿ / ﻿17.55972°N 73.16639°...,"1 x 740, 1 x 740, 1 x 740","2,220",RGPPL,Central
1,SUGEN Combined Cycle Power Plant,Akhakhol,Surat,Gujarat,Western,,3 x 382.5,"1,147.5",Torrent,Private
2,Uran Gas Turbine Power Station,Bokadvira,Raigarh,Maharashtra,Western,18°52′55″N 72°58′13″E﻿ / ﻿18.88194°N 72.97028°...,"4 x 108, 2 x 120",672,MSPGCL (MAHAGENCO),State
3,Pioneer Power CCPP,,,Maharashtra,Western,,1 x 388,388,,Private
4,GPEC Combined Cycle Power Plant,Paguthan,Bharuch,Gujarat,Western,21°46′49″N 72°58′46″E﻿ / ﻿21.78028°N 72.97944°...,"3 x 135, 1 x 250",655,CLP Group,Private
...,...,...,...,...,...,...,...,...,...,...
72,ONGC Tripura Power Company CCPP,Palatana-Udaipur,,Tripura,North Eastern,22°29′59″N 91°26′22″E﻿ / ﻿22.49972°N 91.43944°...,2 x 363.3,726.6,ONGC,Central
73,Rokia GT,Bhishalgarh,West Tripura,Tripura,North Eastern,,1 x 111,111,,State
74,Baramura GT,Baramura,,Tripura,North Eastern,,1 x 58.5,58.5,,State
75,None,None,None,None,None,None,None,None,None,None
76,None,None,None,None,None,None,None,None,None,None

In [23]:
# Change directory structure here. TODO.
df_coal.to_csv("coal_plants_india_raw.csv")

In [24]:
df_gas.to_csv("gas_plants_india_raw.csv")

## EDA:
Cleaning the raw tables

- Some plants are now closed, they tend to be smaller plants that can be ignored.
- In any case all this is an approximation, not all capacity may be operational blablabla. The important
thing is that capacity may be better than just number of power plants. Although some newer ones may be less pollution given a capacity. No date of plant available in the table, would need to go 1 by 1 and not worth it.
- Some plants do not have a precise coordinate. Check opti

### Coal plants

In [73]:
df_coal_clean = pd.read_csv("DATA_INDIA/power_plants/coal_plants_india_raw.csv")

In [74]:
df_coal_clean = df_coal_clean[["Location","District","State","Capacity(MW)","Sector"]]

In [75]:
df_coal_clean

,Location,District,State,Capacity(MW),Sector
0,Vindhya Nagar,Singrauli,Madhya Pradesh,"4,760",Central
1,Mundra,Kutch,Gujarat,"4,620",Private
2,Mundra,Kutch,Gujarat,"4,000",Private
3,Sasan,Singrauli,Madhya Pradesh,"3,960",Private
4,Nariyara,Janjgir–Champa district,Chhattisgarh,"3,600",Private
...,...,...,...,...,...
141,Krishnapatnam,Nellore,Andhra Pradesh,300,Private
142,Neyveli,Cuddalore,Tamil Nadu,250,Private
143,Ramagundam,Karimnagar,Telangana,62.5,State
144,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN

In [76]:
df_coal_clean = df_coal_clean.dropna(how="all")

In [77]:
# Drop coal plants where capacity is not specified
df_coal_clean = df_coal_clean.dropna(how="all")
df_coal_clean = df_coal_clean.dropna(how="any", subset=["Capacity(MW)"])

In [78]:
df_gas_clean["Capacity(MW)"].unique()

array([2220.  , 1147.5 ,  672.  ,  388.  ,  655.  ,  648.  ,  645.  ,
        515.  ,  383.  ,  310.  ,  594.72,  180.  ,  156.  ,  702.  ,
        507.  , 1200.  ,  145.  ,  382.5 ,   48.  ,  330.4 , 1500.  ,
        108.  ,  817.  ,  652.  ,  430.  ,  413.  ,  330.  ,  270.  ,
        175.  ,  113.8 ,  450.  ,  225.  ,  272.  , 1466.  ,  464.  ,
        445.  ,  370.  ,  768.  , 2620.  ,  209.  ,  237.  ,  116.  ,
         28.  ,   30.  ,   35.  ,    3.2 ,  157.  ,  359.58,  187.1 ,
        120.  ,  113.21,  108.88,  101.  ,  330.5 ,   52.8 ,   32.5 ,
         40.  ,   97.2 ,   91.  ,  291.  ,  109.5 ,   65.4 ,  726.6 ,
        111.  ,   58.5 ])

In [79]:
# Fixing some formatting from the original table. 
# Commas can be removed dots remain for the decimal! Do not replace aiaiai.

df_coal_clean['Capacity(MW)'] = df_coal_clean['Capacity(MW)'].astype("str").str.replace(",",""
                                                 ).str.replace("-","0"
                                                              ).str.replace("[22]","").astype("float")

In [80]:
# Only need to remove one weirdly spelled district.
df_coal_state = df_coal_clean.groupby("State",as_index=False)["Capacity(MW)"].sum()
df_coal_state["State"] = df_coal_state["State"].str.lower()
df_coal_state

             State  Capacity(MW)
0   andhra pradesh       11275.0
1            bihar       10040.0
2     chhattisgarh       17795.0
3            delhi           0.0
4          gujarat       15592.0
5          haryana        4065.0
6        jharkhand        6627.5
7        karnataka        7080.0
8   madhya pradesh       15720.0
9      maharashtra       16750.0
10          odisha       11852.5
11          punjab        3320.0
12       rajasthan        4955.0
13      tamil nadu       12160.0
14       telangana        6162.5
15   uttar pradesh       16608.0
16     west bengal       11145.0

In [81]:
df_coal_state.to_csv("DATA_INDIA/power_plants/coal_plants_state.csv")

### Gas plants

In [88]:
df_gas_clean = pd.read_csv("DATA_INDIA/power_plants/gas_plants_india_raw.csv")

In [89]:
df_gas_clean

,Unnamed: 0,Power station,Location,District,State,Region,Coordinates,Unit capacities,Capacity(MW),Operator,Sector
0,0,Dabhol Power Station,Anganvel,Ratnagiri,Maharashtra,Western,17°33′35″N 73°09′59″E﻿ / ﻿17.55972°N 73.16639°...,"1 x 740, 1 x 740, 1 x 740","2,220",RGPPL,Central
1,1,SUGEN Combined Cycle Power Plant,Akhakhol,Surat,Gujarat,Western,NaN,3 x 382.5,"1,147.5",Torrent,Private
2,2,Uran Gas Turbine Power Station,Bokadvira,Raigarh,Maharashtra,Western,18°52′55″N 72°58′13″E﻿ / ﻿18.88194°N 72.97028°...,"4 x 108, 2 x 120",672,MSPGCL (MAHAGENCO),State
3,3,Pioneer Power CCPP,NaN,NaN,Maharashtra,Western,NaN,1 x 388,388,NaN,Private
4,4,GPEC Combined Cycle Power Plant,Paguthan,Bharuch,Gujarat,Western,21°46′49″N 72°58′46″E﻿ / ﻿21.78028°N 72.97944°...,"3 x 135, 1 x 250",655,CLP Group,Private
...,...,...,...,...,...,...,...,...,...,...,...
72,72,ONGC Tripura Power Company CCPP,Palatana-Udaipur,NaN,Tripura,North Eastern,22°29′59″N 91°26′22″E﻿ / ﻿22.49972°N 91.43944°...,2 x 363.3,726.6,ONGC,Central
73,73,Rokia GT,Bhishalgarh,West Tripura,Tripura,North Eastern,NaN,1 x 111,111,NaN,State
74,74,Baramura GT,Baramura,NaN,Tripura,North Eastern,NaN,1 x 58.5,58.5,NaN,State
75,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df_gas_clean = df_gas_clean.dropna(how="all")
df_gas_clean = df_gas_clean.dropna(how="any", subset=["Capacity(MW)"])

In [91]:
df_gas_clean['Capacity(MW)'] = df_gas_clean['Capacity(MW)'].astype("str").str.replace(",",""
                                                 ).str.replace("-","0"
                                                              ).str.replace("[22]","").astype("float")

In [94]:
df_gas_clean = df_gas_clean[["State","Capacity(MW)"]]
df_gas_clean["State"] = df_gas_clean["State"].str.lower()

In [95]:
df_gas_state = df_gas_clean.groupby("State",as_index=False)["Capacity(MW)"].sum()
df_gas_state

                State  Capacity(MW)
0      andhra pradesh       7508.20
1               assam        479.20
2               delhi       2208.40
3                 goa         48.00
4             gujarat       7990.72
5             haryana        430.00
6   jammu and kashmir        175.00
7              kerala        516.58
8         maharashtra       3460.00
9          puducherry         32.50
10          rajasthan        856.80
11         tamil nadu       1013.49
12          telangana         35.00
13            tripura       1071.00
14      uttar pradesh       1469.00
15        uttarakhand        900.00
16        west bengal         80.00

In [96]:
df_gas_state.to_csv("DATA_INDIA/power_plants/gas_plants_state.csv")